#hamburger-menu {
  display: none;
}

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet & HP */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  /* Tampilkan hamburger di tablet & HP */
  #hamburger-menu {
    display: inline-block;
  }

  /* Mobile sidebar */
  #mobile-nav {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: #000; /* sesuai HTML bg-black */
    width: 100%;
    height: 100vh;
    padding: 2rem;
    transition: right 0.3s ease-in-out;
    z-index: 9999;
    overflow-y: auto;
  }

  /* Saat aktif (JS toggle ubah inline style ke right:0) */
  #mobile-nav.active {
    margin-top: 30px;
    right: 0;
  }

  #mobile-nav a {
    color: white;
    display: block;
    margin: 1.5rem 0;
    font-size: 1.8rem;
    text-decoration: none;
  }
}

/* Mobile kecil */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }

  #mobile-nav {
    width: 16rem; /* lebih kecil biar muat di layar hp kecil */
  }
}
